.app {
  text-align: center;
  height: 100vh;
}

.app__title {
  color: #0a3b64;
  font-size: 55px;
  padding-top: 10px;
}
.app__logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*#282c34; #61dafb; */

.quote {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60%;
  margin: 40px auto 0 auto;
}

.quote__text {
  color: #073542;
  font-style: italic;
  font-size: 40px;
}

.quote__author {
  color: #073542;
}
